<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITC Precourse | ABOUT</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap"
      rel="stylesheet"
    />
    <link href="../css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-bar">
          <li class="nav-li">
            <a class="nav-link" href="./index.html">HOME</a>
          </li>
          <li class="nav-li">
            <a class="nav-link actual-tab" href="./about.html">ABOUT</a>
          </li>
          <li class="nav-li">
            <a class="nav-link" href="./contact.html">CONTACT</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="container-col">
      <section class="border-bottom" id="section-one">
        <h1 id="about-title">ABOUT</h1>
        <div class="about-container">
          <article id="whycoding-card" class="about card">
            <h2 class="card-title text-center">WHY CODING</h2>
            <p id="why-coding" class="content-size hide">
              Im interested in coding because i think all life aspects are
              surrounded and interviened by some technology thas had been
              previously coded.
              <br />
              My main goal is to understand coding in order to be a key player
              in the field of Cybersecurity
            </p>
          </article>

          <article id="interes-card" class="about card">
            <h2 class="card-title">INTERESTS</h2>
            <ul class="content-size hide" id="interest-list">
              <li>Coding</li>
              <li>Cybersecurity</li>
              <li>International politics</li>
              <li>Security and counterterrorism</li>
              <li>Music production</li>
            </ul>
          </article>
          <article id="experience-card" class="about card grow">
            <h2 class="card-title">EXPERIENCE</h2>
            <div id="experience-options" class="width-100 hide">
              <ul class="content-size" id="experience-list">
                <li data-area="fullstack">
                  <i class="fas fa-laptop-code"></i> Full Stack Development
                </li>
                <li data-area="security">
                  <i class="fas fa-shield-alt"></i> Security
                </li>
                <li data-area="music">
                  <i class="fas fa-music"></i> Pianist composer and producer
                </li>
                <li data-area="teamleader">
                  <i class="fas fa-chalkboard-teacher"></i> Team leader -
                  Education
                </li>
              </ul>
            </div>
            <div class="about-container nowrap width-100">
              <div class="detail hide" id="fullstack-detail">
                <i class="fas fa-laptop-code"></i>
                <p>
                  Web Full Stack Development Course |
                  <a
                    target="_BLANK"
                    href="https://www.digitalhouse.com/ar/curso/programacion-web-full-stack"
                    >Digital House Argentina</a
                  >
                  2020-2021
                </p>
                <p>Development with HTML | CSS | JS</p>
                <p>Work with Nodejs and express</p>
              </div>

              <div class="detail hide" id="security-detail">
                <i class="fas fa-shield-alt"></i>
                <p>Security planning for events</p>
                <p>Risk analysis</p>
                <p>Operative work</p>
                <p>Training</p>
                <p>
                  Worked at Lamroth Hakol Synagogue in Argentina and DAC |
                  2015-2020
                </p>
              </div>

              <div class="detail hide" id="music-detail">
                <i class="fas fa-music"></i>
                <p>
                  Music production course |
                  <a target="_BLANK" href="https://arjaus.com/"
                    >Arajus Ableton Certified Training Center</a
                  >
                  - 2019-2020
                </p>
                <p>
                  Piano carreer |
                  <a target="_BLANK" href="http://www.escuelademusica.org/"
                    >Escuela de Musica Contemporanea</a
                  >
                  - 2017 - 2021
                </p>
                <p>
                  Pianist, comanager, team leader and artistic producer |
                  <a
                    target="_BLANK"
                    href="https://www.youtube.com/watch?v=a4OQ_KHLAw4"
                    >Estas como queres</a
                  >
                  (shows with more than 30 person in staff)
                </p>
                <p>
                  Vocalist and comanager |
                  <a
                    target="_BLANK"
                    href="https://www.youtube.com/watch?v=P0FkfLsHW1I"
                    >Dr Klezmer music band</a
                  >
                </p>
              </div>

              <div class="detail hide" id="teamleader-detail">
                <i class="fas fa-chalkboard-teacher"></i>
                <p>
                  Team leader / Madrij at Lamroth Hakol Synagogue | 2015-2020
                </p>
                <p>Coordinator course | NOAM Tnua 2017</p>
                <p>Big groups managment</p>
                <p>Problem solving</p>
                <p>Planning and executing activities</p>
                <p>Diagnose and objective settle</p>
              </div>
            </div>
          </article>
        </div>
      </section>

      <section class="container-col" id="map-section">
        <div class="map-container">
          <div class="container-col">
            <iframe
              id="map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26287.74957531529!2d-58.50666940225192!3d-34.55434795020996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb6ecec1f5741%3A0x42502844d305770b!2sSaavedra%2C%20CABA!5e0!3m2!1ses!2sar!4v1609564873875!5m2!1ses!2sar"
              width="600"
              height="450"
              frameborder="0"
            ></iframe>
            <div class="buttons">
              <button disabled class="previous">←</button>
              <button class="next">→</button>
            </div>
          </div>
          <div class="text-reference">
            <ul>
              <li>
                I was born in Saavedra neighbourhood, Buenos Aires, Argentina
              </li>
              <li>
                I have lived in Buenos Aires and in Kiriat Bialik, Israel also
              </li>
              <li>I want to visit Berlin and London</li>
              <li>I have family in Sydney, Australia</li>
            </ul>
          </div>
        </div>
      </section>
      <address class="width-100 margin-t-b">
        <ul class="sm-icons">
          <li class="icon">
            <a
              class="anchor"
              target="_BLANK"
              href="https://www.linkedin.com/in/gabriel-rubin-4554691a3/"
              ><i class="fab fa-linkedin icon"></i
            ></a>
          </li>
          <li class="icon">
            <a class="anchor" target="_BLANK" href="https://github.com/Globo97"
              ><i class="fab fa-github icon"></i
            ></a>
          </li>
          <li class="icon">
            <a
              class="anchor"
              target="_BLANK"
              href="https://es.stackoverflow.com/users/207484/gabriel-rubin"
              ><i class="fab fa-stack-overflow icon"></i
            ></a>
          </li>
        </ul>
      </address>

      <footer>
        <nav class="grow" id="footer-nav">
          <ul>
            <li class="text-center margin-t-b">
              <a class="nav-link footer" href="./index.html">HOME</a>
            </li>
            <li class="text-center margin-t-b">
              <a class="nav-link footer" href="./about.html">ABOUT</a>
            </li>
            <li class="text-center margin-t-b">
              <a class="nav-link footer" href="./contact.html">CONTACT</a>
            </li>
          </ul>
        </nav>
        <p class="footer-info text-center grow"></p>
        <div class="text-center grow">&#169; Israel Tech Challenge</div>
      </footer>
    </div>
    <script src="../js/portfolio.js"></script>
    <script src="../js/about.js"></script>
  </body>
</html>
