<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITC Precourse | HOME</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link href="../css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-bar">
          <li class="jorge">
            <a class="nav-link actual-tab" href="./index.html">HOME</a>
          </li>
          <li class="nav-li">
            <a class="nav-link" href="./about.html">ABOUT</a>
          </li>
          <li class="nav-li">
            <a class="nav-link" href="./contact.html">CONTACT</a>
          </li>
        </ul>
      </nav>
    </header>

    <section>
      <div id="page-wrapper" class="page-wrapper">
        <div id="home-card" class="card">
          <img
            target
            id="profile-image"
            src="../code.png"
            alt="Israel Tech Challenge"
            class="profile-image"
          />
          <div>
            <h1 class="text-center" id="my-name">Gabriel Rubin</h1>
            <h2>ITC Fullstack Development</h2>
          </div>
        </div>
      </div>
    </section>

    <address class="width-100 margin-t-b">
      <ul class="sm-icons">
        <li class="icon">
          <a
            class="anchor"
            target="_BLANK"
            href="https://www.linkedin.com/in/gabriel-rubin-4554691a3/"
            ><i class="fab fa-linkedin icon"></i
          ></a>
        </li>
        <li class="icon">
          <a class="anchor" target="_BLANK" href="https://github.com/Globo97"
            ><i class="fab fa-github icon"></i
          ></a>
        </li>
        <li class="icon">
          <a
            class="anchor"
            target="_BLANK"
            href="https://es.stackoverflow.com/users/207484/gabriel-rubin"
            ><i class="fab fa-stack-overflow icon"></i
          ></a>
        </li>
      </ul>
    </address>

    <footer>
      <nav class="grow" id="footer-nav">
        <ul>
          <li class="text-center margin-t-b">
            <a class="nav-link footer" href="./index.html">HOME</a>
          </li>
          <li class="text-center margin-t-b">
            <a class="nav-link footer" href="./about.html">ABOUT</a>
          </li>
          <li class="text-center margin-t-b">
            <a class="nav-link footer" href="./contact.html">CONTACT</a>
          </li>
        </ul>
      </nav>
      <p class="footer-info text-center grow"></p>
      <div class="text-center grow">&#169; Israel Tech Challenge</div>
    </footer>

    <script src="../js/portfolio.js"></script>
    <script src="../js/home.js"></script>
  </body>
</html>
